@model IEnumerable<MyTe.Models.Entities.LancamentoDeHora>

@{
    ViewData["Title"] = "ListarHoras";
}

<h1>Lista de Horas Lançadas</h1>

<p>
    @using (Html.BeginForm("ListarHoras", "Horas", FormMethod.Get))
    {
        <div class="mb-3">

            @Html.Label("hora", "Escolha a WBS")
            @Html.DropDownList("idWBS",
                     (SelectList)ViewBag.ListaDeWBS,
                     "TODOS", new { @class = "form-select" })
        </div>
        <div class="mb-3">
            <input type="submit" value="Buscar" class="btn btn-dark" />
        </div>
    }
</p>
<table class="tabelas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WBSId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistroData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasTrabalhadas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuncionarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WBSId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistroData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasTrabalhadas)
                </td>
                <td>
                    <a asp-action="RemoverHora" asp-route-id="@item.Id">Remover</a>
                    <a asp-action="AdicionarHora" asp-route-id="@item.Id">incluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>